.product {
  width: 86%;
  margin: 0 auto;
  margin-bottom: 120px;

  &__go-back-link {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 24px;
    font-size: 15px;
    font-weight: 200;
    opacity: .8;
  }

  &__top-page {
    display: flex;
    flex-direction: column;
    margin-bottom: 88px;

    .product-image {
      width: 100%;
      height: 327px;
      margin-bottom: 32px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 8px;
    }

    .product-main-content {

      .product-info {

        &__new {
          display: inline-block;
          margin-bottom: 24px;
          font-size: 14px;
          color: $primary;
          letter-spacing: 10px;
        }

        &__name {
          margin-bottom: 24px;
          font-size: 28px;
          font-weight: 700;
          letter-spacing: 1px;
        }
        
        &__description {
          margin-bottom: 24px;
          font-size: 15px;
          font-weight: 200;
          line-height: 25px;
          opacity: .5;
          
        }
        
        &__price {
          display: inline-block;
          margin-bottom: 32px;
          font-size: 18px;
          font-weight: 700;
          letter-spacing: 1px;
        }
      }
    }
  }

  &__features {
    margin-bottom: 120px;

    h3 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 24px;
    }

    p:first-of-type {
      margin-bottom: 24px;
    }

    p {
      font-size: 15px;
      font-weight: 200;
      line-height: 25px;
      opacity: .5;
    }
  }

  &__box-content {
    margin-bottom: 88px;

    h3 {
      margin-bottom: 24px;
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
    }

    .box-content-list {

      &__item {
        margin-bottom: 8px;
        font-size: 15px;
        font-weight: 200;
        line-height: 25px;
        opacity: .5;

        span {
          display: inline-block;
          margin-right: 21px;
          font-weight: 700;
          color: $primary;
          opacity: 1;
        }
      }
    }
  }

  &__gallery {

    ul {
      display: flex;
      flex-direction: column;
    }

    li {
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 8px;
    }

    li:nth-of-type(1) {
      height: 174px;
      margin-bottom: 20px;
    }
    
    li:nth-of-type(2) {
      height: 174px;
      margin-bottom: 20px;
    }

    li:nth-of-type(3) {
      height: 368px;
    }
  }
}