.cart-container {
  position: relative;
}

.cart {
  position: absolute;
  top: 24px;
  right: 7%;
  z-index: 99;
  box-sizing: border-box;
  display: none;
  width: 86%;
  max-width: 377px;
  height: fit-content;
  padding: 32px 28px;
  margin: 0 auto;
  background-color: $white;  
  border-radius: 8px;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

    h2 {
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 1px;
    }
    
    a {
      font-size: 15px;
      font-weight: 200;
      line-height: 15px;
      cursor: pointer;
      opacity: .5;
    }
  }

  &__items {
    margin-bottom: 32px;

    .cart-item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__image {
        height: 64px;
        width: 64px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 8px;
      }

      &__info {
        flex-grow: 1;
        padding-left: 16px;
        font-weight: bold;
        line-height: 25px;

        h3 {
          font-size: 15px;
        }

        span {
          font-size: 14px;
          opacity: .5;
        }
      }
    }
  }

  &__total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    span:first-child {
      font-size: 15px;
      font-weight: 200;
      opacity: 0.5;
    }

    span:last-child {
      font-size: 18px;
      font-weight: 700;
    }
  }
}