@media only screen and (min-width: 600px) {

  /*------------------NAV---------------------------------------------*/

  .main-nav {
    border: transparent;

    > ul:first-child {
      position: relative;
      border-bottom: 1px solid hsla(0, 0%, 59%, 0.3);
    }

    &__logo {
      position: absolute;
      left: 100px;
    }

    .categories-list {
      height: 240px;
    }
  }

  /*-----------------MAIN PRODUCT-----------------------------------*/

  .home {

    .main-product {
      height: 650px;
      
      &__content {
        padding-top: 150px;
      }

      .product-info {
        
        &__new {
          margin-bottom: 24px;
        }

        &__name {
          max-width: 500px;
          font-size: 56px;
          line-height: 58px;
          letter-spacing: 2px;
        }

        &__description {
          max-width: 350px;
          margin-bottom: 40px;
        }
      }
    }
  }

  /*-----------------CATEGORIES LIST-----------------------------------*/

  .categories-list {
    margin-bottom: 96px;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__item {
      flex: 0 1 32%;
      margin-bottom: 0
    }
  }

  /*-----------------TOP PRODUCTS-----------------------------------*/

  .home {

    .top-products-list {
      
      &__first-item {
        height: 720px;
        background-position-y: -270px;
        background-size: 140%;

        img {
          height: 240px;
          margin-bottom: 64px;
        }

        .product-info {

          &__name {
            width: 300px;
            font-size: 56px;
            line-height: 58px;
          }

          &__description {
            margin-bottom: 40px;
          }
        }
      }

      &__second-item {
        background-image: url("https://res.cloudinary.com/dsmap0onp/image/upload/v1629737615/audiophile/home/tablet/image-speaker-zx7_wxtq7f.jpg");
      }

      &__third-item {
        flex-direction: row;
        justify-content: space-between;
      }

      .image-container {
        flex: 0 1 49%; 
        height: 320px;
        background-image: url("https://res.cloudinary.com/dsmap0onp/image/upload/v1629737615/audiophile/home/tablet/image-earphones-yx1_y6foqm.jpg");
      }
      
      .info-container {
        flex: 0 1 49%;
        height: 320px;
      }
    }
  }
}
