@media only screen and (min-width: 960px) {

  /*------------------NAV---------------------------------------------*/

  .main-nav {
    border: transparent;

    ul {
      justify-content: flex-end;
      border-bottom: 1px solid hsla(0, 0%, 59%, 0.3);
      max-width: 1100px;
    }

    &__menu {

      > a {
        display: none;
      }
    }

    &__logo {
      position: absolute;
      left: 0;
    }
  }

  .menu-nav {
    display: inline-block;
    position: absolute;
    left: 240px;
    transform: translateY (-50%);

    > ul {
      border: none;

      li {
        display: inline-block;
      }

      a {
        padding: 0 17px;
        font-size: 13px;
        font-weight: 700;
        color: $white;
        letter-spacing: 2px;
      }
    }
  }

  /*-----------------MAIN PRODUCT-----------------------------------*/

  .home {

    .main-product {
      
      &__content {
        width: 86%;
        max-width: 1100px;
        margin: 0 auto;
        text-align: left;
      }

      .product-info {
        
        &__name {
          margin-left: 0;
        }

        &__description {
          margin-left: 0;
          padding-left: 0;
        }
      }
    }
  }

  /*-----------------CATEGORIES LIST-----------------------------------*/

  .categories-list {
    width: 86%;
    max-width: 1100px;
    margin-bottom: 168px;

    ul {
      height: 204px;
    }

    &__item {
      height: 100%;

      h3 {
        font-size: 18px;
        letter-spacing: 1.3px;
      }

      img {
        height: 200px;
      }
    }
  }

  /*-----------------TOP PRODUCTS-----------------------------------*/

  .home {

    .top-products-list {
      width: 86%;
      max-width: 1110px;
      margin: 0 auto;
      margin-bottom: 168px;

      &__first-item {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 560px;
        overflow: hidden;
        background-position-y: -40px;
        background-position-x: -220px;
        background-size: 100%;

        > div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }

        img {
          position: relative;
          top: 20px;
          left: 40px;
          height: 510px;
          align-self: flex-end;
          margin-bottom: 0;
        }

        .product-info {
          
          &__name {
            margin-left: 0;
            text-align: left;
          }
          
          &__description {
            width: 350px;
            padding-left: 0;
            text-align: left;
          }
        }
      }

      &__second-item {
        width: 100%;
        padding-left: 95px;
        background-image: url("https://res.cloudinary.com/dsmap0onp/image/upload/v1629737642/audiophile/home/desktop/image-speaker-zx7_n17qrl.jpg");
      }

      &__third-item {
        width: 100%;
       
        .image-container {
          background-image: url("https://res.cloudinary.com/dsmap0onp/image/upload/v1629737642/audiophile/home/desktop/image-earphones-yx1_tzbi6w.jpg");
        }
        
        .info-container {
          padding-left: 95px;
        }
      }

    }
  }

   /*-----------------ABOUT-----------------------------------*/
  
  .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    height: 588px;
    margin-bottom: 200px;

    &__image {
      order: 2;
      flex: 0 1 49%;
      height: 100%;
      background-image: url("https://res.cloudinary.com/dsmap0onp/image/upload/v1629911698/audiophile/shared/desktop/image-best-gear_tvqavm.jpg");
    }

    &__info {
      order: 1;
      flex: 0 1 49%;
    }

    &__heading {
      max-width: 400px;
      padding-right: 125px;
      margin-left: 0;
      text-align: left;
    }
    
    &__text {
      padding-right: 125px;
      text-align: left;
    }
  }

  /*-----------------FOOTER-----------------------------------*/

  .footer {
    height: 330px;
    padding-top: 51px;

    &__content-container {
      max-width: 1100px;
      margin: 0 auto;
    }

    &__content-container::before {
      transform: translateY(-51px)
    }

    .top-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__about {
      max-width: 540px;
      margin-bottom: 56px;
    }

    &__social-nav {
      position: relative;
      bottom: 100px;
    }
  }

  .footer::before {
    left: 150px;
  }

   /*-----------------CATEGORIE'S PRODUCTS-----------------------------------*/

  .category {
    text-align: left;

    &__heading {
      padding-top: 98px;
      padding-bottom: 98px;
    }

    .products-list {

      &__item {
        flex-direction: row;
        align-items: center;
        
        .product-info-container {
          padding-left: 125px;
        }
      }
      
      &__item:nth-child(even) {
        flex-direction: row-reverse;

        .product-info-container {
          padding-left: 0;
          padding-right: 125px;
        }
      }

      &__item:first-child {
        margin-top: 160px;
      }

    }
  }

   /*-----------------PRODUCT -----------------------------------*/

   .product {
    max-width: 1100px;

    &__go-back-link {
      margin-top: 79px;
      margin-bottom: 56px;
    }   
    
    &__top-page {
      margin-bottom: 160px;

      .product-image {
        flex: 0 1 50%;
        height: 560px;
      }

      .product-main-content {
        flex: 0 1 40%;

        .product-action {
          width: 300px;
        }
      }

      .product-info {

        &__new {
          margin-bottom: 16px;
          font-size: 14px;
          letter-spacing: 10px;
        }

        &__name {
          max-width: 300px;
          margin-bottom: 32px;
          line-height: 44px;
        }

        &__description {
          margin-bottom: 32px;
        }

        &__price {
          margin-bottom: 47px;
        }
      }
    }


    .middle-page-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__features {
      flex: 0 1 60%;
    }

    &__box-content {
      flex: 0 1 30%;
      display: block;
      
      h3 {
        margin-bottom: 32px;
      }
    }

    &__gallery {

      ul {
        grid-template-columns: 42% 1fr;
        grid-template-rows: repeat(2, 280px);
      }
    }

    &__also-like {
      margin-bottom: 60px;

      h3 {
        margin-bottom: 64px;
      }

      .also-like-list {

        &__item {

          .also-like-image {
            margin-bottom: 40px;
          }
        }
      }
    }
  }

  /*-----------------CHECKOUT -----------------------------------*/

  .checkout-container {
      
    .go-back-link {
      margin-top: 90px;
    }
  }

  .checkout {
    
    &__form {

      form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      
      .top-form {
        flex: 0 1 70%;
      }
      
      .bottom-form {
        flex: 0 1 29%;
        height: fit-content;
        margin-left: 30px;
      }
    }
  }
}