.footer {
  position: relative;
  color: $white;
  background-color: $dark;
  text-align: center;
  padding: 38px 7%;
  
  &__logo {
    display: inline-block;
    padding: 14px 0;
    margin-bottom: 26px;
  }



  &__site-nav {
    margin-bottom: 40px;

    a {
      display: inline-block;
      padding: 8px;
      font-size: 13px;
      font-weight: 700;
      line-height: 25px;
      color: $white;
      letter-spacing: 2px;
    }
  }

  &__about {
    margin-bottom: 48px;
    font-size: 15px;
    font-weight: 200;
    line-height: 25px;
    opacity: 0.5;
  }
  
  &__copyright {
    display: inline-block;
    margin-bottom: 48px;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    opacity: 0.5;
  }

  &__social-nav {

    li {
      display: inline-block;
    }

    a {
      padding: 8px
    }
  }

}

.footer::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 50%;
  width: 100px;
  height: 4px;
  background-color: $primary;
  transform: translateX(-50%);
}