.btn-see-product,
.btn-add-to-cart,
.checkout-btn,
.pay-btn,
.back-to-home-btn {
  display: inline-block;
  padding: 15px 30px;
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $primary;
  border: none;
  transition: background-color 100ms ease-in;
}

.btn-see-product:hover {
  background-color: $primary-light;
}

.btn-add-to-cart {
  text-align: center;
  width: 160px;
}

.checkout-btn,
.pay-btn,
.back-to-home-btn {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.btn-shop {
  display: flex;
  justify-content: space-between;
  width: 60px;
  font-size: 13px;
  font-weight: 700;
  color: $black;
  letter-spacing: 1px;
  cursor: pointer;
  opacity: 0.5;
  transition: color 200ms ease-in;
}

.btn-shop:hover {
  color: $primary;
}

.top-products-list {

  &__first-item {

    .btn-see-product {
      background-color: $dark;
      transition: background-color 100ms ease-in;
    }

    .btn-see-product:hover {
      background-color: #4C4C4C;
    }
  }
  
  &__second-item,
  &__third-item {
    
    .btn-see-product {
      color: $dark;
      background-color: transparent;
      border: 1px solid $dark;
      transition: all 100ms ease-in;
    }

    .btn-see-product:hover {
      background-color: $black;
      color: $white;
    }
  }
}

.select-quantity {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 120px;
  padding: 15px;
  font-size: 13px;
  background-color: $light;

  span {
    font-weight: 700;
    letter-spacing: 1px;
  }

  button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    opacity: .25;
  }

}

.cart {
  
  .select-quantity {
    width: 96px;
    padding: 7px 11px;
  }
}