.checkout__form {
  
  form {
    
    .top-form {
      padding: 24px;
      margin-bottom: 36px;
      background-color: $white;
      border-radius: 8px;
    }
    
    .bottom-form {
      padding: 32px 24px;
      background-color: $white;
      border-radius: 8px;
    }

    .form-section {
      display: flex;
      flex-direction: column;
      margin-bottom: 32px;
      
      h4 {
        margin-bottom: 16px;
        font-size: 13px;
        font-weight: 700;
        line-height: 25px;
        color: $primary;
        letter-spacing: 1px;
      }

      
      .top-field {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        
        .error-message {
          font-size: 12px;
          margin-bottom: 9px;
        }
      }
      
      label {
        display: block;
        margin-bottom: 9px;
        font-size: 12px;
        font-weight: 700;
      }
      
      input[type="text"],
      input[type="email"],
      input[type="tel"] {
        box-sizing: border-box;
        width: 100%;
        height: 56px;
        margin-bottom: 24px;
        text-indent: 24px;
        border: 1px solid $grey-light;
        border-radius: 8px;
      }
      
      .radio-container {
        position: relative;
        display: flex;
        align-items: center;
        height: 56px;
        padding-left: 16px;
        margin-bottom: 16px;
        border: 1px solid $grey-light;
        border-radius: 8px;
      }

      .radio-container:hover {
        border:  1px solid $primary;
      }
      
      .radio-label {
        display: inline-block;
        padding-left: 16px;
        margin-bottom: 0;
        font-size: 14px;
      }
      
      label[for='payment'] {
        margin-bottom: 16px;
      }
      
      label[for="e-money-number"] {
        margin-top: 32px;
      }
      
      input[type="radio"] {
        position: relative;
        display: inline;
        width: 20px;
        height: 20px;
        margin: 0;
        color: $primary;
      }
      
      input[type="radio"]::after {
        position: absolute;
        top:  5px;
        left: 5px;
        width: 10px;
        height: 10px;
        content: "";
        background-color: $white;
        border-radius: 10px;
        box-shadow:
        inset 0 0 0 10px $white, 0 0 0 5px $white, 0 0 0 6px $grey-light;
      }
      
      input[type="radio"]:checked::after {
        position: absolute;
        top:  5px;
        left: 5px;
        width: 10px;
        height: 10px;
        content: "";
        background-color: $primary;
        border-radius: 10px;
        box-shadow:
        inset 0 0 0 10px $primary, 0 0 0 5px $white, 0 0 0 6px $grey-light;
      }
    }
    
    .e-money-fields {
      display: flex;
      flex-direction: column;
    }

    .cash-delivery-message {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      span {
        display: inline-block;
        margin-right: 32px;
      }

      p {
        font-size: 15px;
        line-height: 25px;
        opacity: .5;
      }
    }
    .field--alert {
      color: $alert;
    
      input[type="text"],
      input[type="tel"],
      input[type="email"] {
        border: 2px solid $alert;
      }
    }
  }
}